<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>com.tast.web.servlet.UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/userLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserRegister</servlet-name>
    <servlet-class>com.tast.web.servlet.UserRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegister</servlet-name>
    <url-pattern>/userRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>com.tast.web.servlet.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/adminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GotoAdminLogin</servlet-name>
    <servlet-class>com.tast.web.servlet.GotoAdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GotoAdminLogin</servlet-name>
    <url-pattern>/gotoAdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GotoDelete</servlet-name>
    <servlet-class>com.tast.web.servlet.GotoDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GotoDelete</servlet-name>
    <url-pattern>/gotoDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GotoMove</servlet-name>
    <servlet-class>com.tast.web.servlet.GotoMove</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GotoMove</servlet-name>
    <url-pattern>/gotoMove</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GotoAdd</servlet-name>
    <servlet-class>com.tast.web.servlet.GotoAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GotoAdd</servlet-name>
    <url-pattern>/gotoAdd</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>UserLogin.html</welcome-file>
  </welcome-file-list>
</web-app>